<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="CARConnectionString" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=car;Integrated Security=True;Min Pool Size=20" providerName="System.Data.SqlClient" />-->
    <add name="CARConnectionString" connectionString="data source=car.dev.fda.gov,3148;initial catalog=CAR;user id=sa;password=Margaret01" providerName="System.Data.SqlClient" />
    <add name="CAR.Properties.Settings.CARConnectionString" connectionString="Data Source=NENNASANOIR;Initial Catalog=CAR;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CAR.Properties.Settings.AdventureWorks2008R2ConnectionString" connectionString="Data Source=NENNASANOIR;Initial Catalog=AdventureWorks2008R2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CAR.Properties.Settings.carConnectionString1" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=car;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="carEntities" connectionString="metadata=res://*/Model.CarModel.csdl|res://*/Model.CarModel.ssdl|res://*/Model.CarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=car;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="carEntities1" connectionString="metadata=res://*/Model.CarModel.csdl|res://*/Model.CarModel.ssdl|res://*/Model.CarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=car;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAREntities" connectionString="metadata=res://*/Model.CarModel.csdl|res://*/Model.CarModel.ssdl|res://*/Model.CarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=car.dev.fda.gov,3148;initial catalog=CAR;user id=sa;password=Margaret01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAREntities1" connectionString="metadata=res://*/Model.CarModel.csdl|res://*/Model.CarModel.ssdl|res://*/Model.CarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=car.dev.fda.gov,3148;initial catalog=CAR;persist security info=True;user id=sa;password=Margaret01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>